.logo {
  height: 100px;
}
.sidebar{
  float: left;
  width: 9em;
  padding: 3px 1.5em 10px 1.3em;
  position: absolute;
}
.mainsection {
  margin: 0 0 0 11em;
}
.article {
  padding: 1.25em 1.5em 1.5em 1.5em;
  border-left: 1px solid #7d8f;
  background: red;
  line-height: 1.6;
  font-size: 0.875em;
  border-top: 1px soild #7d8;
  border-bottom: 1px solid #d78;
}
.mainsectionpic {
  border: 1px solid #c3d;
  padding: 3px;
  float: right;
  float-size: 94%;
  background-color: #4b9
  overflow: hidden;
  line-height: 0.1em;
  padding:3px;
  font-size: 95%;
  margin:0 0 5px 15px;
  text-align: left;
}
.panelofpandas {
  border: 1px solid #ffb8c4;
  background-color: #789;
  padding: 5px;
  font-size: 95%;
  postion: relative;
  line-height: 1.7em;
  width:280px; 
}
ul{
list-style-type: none;
 list-style-image:none;
  margin: 0;
  padding: 0.3em 0 0 0;
}
/* body {
  background-color: red;
} */